*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

img {
  max-width: 100%;
  display: block; }

input,
button,
select,
textarea {
  font: inherit; }

a {
  text-decoration: none;
  display: inline-block; }

button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer; }

input {
  width: 100%;
  border: none;
  outline: none;
  background: none;
  display: block; }

:root {
  --main-bk-clr: hsl(0, 0%, 100%);
  --item-bk-clr: hsl(60, 19%, 92%);
  --slider-bk-clr: hsl(40, 3%, 20%);
  --addtocart-btn-bk-clr: hsl(40, 3%, 20%);
  --close-btn-bk-clr: hsl(0, 0%, 93%);
  --checkout-btn-bk-clr: hsl(48, 89%, 48%);
  --white-text-clr: hsl(0, 0%, 100%); }

body {
  min-height: 100vh;
  position: relative;
  isolation: isolate;
  background-color: var(--main-bk-clr);
  font-family: "Poppins", sans-serif; }

.flex {
  display: flex;
  align-items: center;
  gap: 1rem; }

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem; }

.primary--title {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600; }

.secondary--title {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1.4; }

.grid__btn--active {
  grid-template-rows: 1fr; }

.grid__qty--active {
  grid-template-rows: 1fr; }

.main__container {
  max-width: 1100px;
  width: 100vw;
  margin-inline: auto;
  position: relative; }

.header {
  justify-content: space-between;
  padding: 1.25rem 1.5rem;
  border-bottom: 1px solid #111;
  background-color: #fff;
  position: sticky;
  inset: 0; }

.products {
  padding: 2rem 1.5rem; }
  .products__container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem 1.25rem; }

.header__iconbox {
  cursor: pointer;
  background-color: #a29bfe;
  padding: 0.125rem 1.25rem;
  border-radius: 100px; }
  .header__iconbox .cart__icon {
    font-size: 2.5rem;
    margin-bottom: 0.25rem; }
  .header__iconbox .no_of__item {
    font-size: 1.5rem; }

.item {
  background-color: var(--item-bk-clr);
  justify-items: center;
  text-align: center;
  gap: 0;
  padding-block: 1.75rem;
  border-radius: 1rem; }
  .item__container {
    gap: 1.25rem;
    padding: 0rem 1.5rem; }
  .item__img > img {
    width: 12rem;
    margin-inline: auto; }
  .item__about {
    gap: 0.5rem; }
    .item__about .price {
      margin-top: 0.5rem;
      font-size: 1.25rem;
      font-weight: 300; }
  .item__btnbox {
    display: grid;
    grid-template-rows: 1fr;
    transition: grid-template-rows 0.3s; }
  .item__subBox {
    overflow: hidden; }
  .item__btn {
    text-transform: capitalize;
    background-color: var(--addtocart-btn-bk-clr);
    border-radius: 100px;
    padding: 0.5rem 1.5rem;
    color: var(--white-text-clr);
    font-size: 0.85rem; }

.selectqty {
  display: grid;
  grid-template-rows: 0fr; }
  .selectqty__container {
    overflow: hidden;
    padding-inline: 1rem; }

.btn {
  font-size: 1.75rem; }

#quantity {
  text-align: center;
  background-color: #fff;
  border-radius: 100px;
  padding: 0.25rem 0rem; }

#quantity::placeholder {
  color: #000; }

#quantity::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

#quantity {
  -moz-appearance: textfield; }

@media only screen and (max-width: 500px) {
  .header .primary--title {
    font-size: 1.5rem; }
  .header__iconbox {
    padding: 0.125rem 1rem; }
  .header .cart__icon {
    font-size: 1.75rem; }
  .header .no_of__item {
    font-size: 1.25rem; }
  .products__container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
    justify-content: center; }
  .item__container {
    gap: 0.5rem; }
  .item .secondary--title {
    font-size: 1.35rem; }
  .item .price {
    font-size: 1.35rem; }
  .item__btn {
    padding: 0.5rem 1.75rem;
    font-size: 1rem; }
  .item__img > img {
    width: 15rem; } }
