.overlay {
  position: fixed;
  inset: 0;
  background-color: hsla(0, 0%, 0%, 0.8);
  z-index: 20;
  display: none;
}

.main {
  // PADDING
  --header-padding: 1.25rem 1.5rem;
  --products-padding: 2rem 1.5rem;

  // GAP
  --products-container-gap: 1.5rem 1.25rem;

  // BORDER
  --header-border: 1px solid #111;

  // FONT-SIZE
  --primary-fs: 2rem;
  --secondary-fs: 1.25rem;
}

.main__container {
  max-width: var(--main-container-maxwidth);
  width: var(--main-container-width);

  margin-inline: auto;
  position: relative;
}

.header {
  // PADDING
  --header-iconbox-padding: 0.125rem 1.25rem;

  // FONT-SIZE
  --cart-icon-fs: 2.5rem;
  --no_of-item-fs: 1.5rem;

  justify-content: space-between;
  padding: var(--header-padding);
  border-bottom: var(--header-border);

  background-color: var(--header-bk-clr);
  position: sticky;
  inset: 0;
  z-index: 10;
}

.products {
  // PADDING
  --item-padding-block: 1.75rem;
  --item-container-padding: 0rem 1.5rem;
  --item-btn-padding: 0.5rem 1.5rem;
  --selectqty-padding-inline: 1rem;
  --quantity-padding: 0.25rem 0rem;

  // MARGIN
  --cart-icon-mg-bttm: 0.25rem;
  --price-mg-top: 0.5rem;

  // WIDTH
  --product-img-width: 12rem;

  // GAP
  --item-gap: 0rem;
  --item-container-gap: 1.25rem;
  --item-about-gap: 0.5rem;

  // FONT-SIZE
  --price-fs: 1.25rem;
  --item-btn-fs: 0.85rem;
  --btn-fs: 1.75rem;

  padding: var(--products-padding);
  &__container {
    grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
    gap: var(--products-container-gap);
  }
}

.slider {
  // PADDING
  --third-title-padding: 1rem 1.5rem;
  --checkout-item-padding-inline: 0.5rem;
  --slider-btns-padding: 1.25rem 0rem;

  // GAP
  --checkout-item-gap: 0.5rem;
  --checkout-btnbox-gap: 0.5rem;
  --slider-btn-gap: 0rem;

  // FONT-SIZE

  // WIDTH
  --checkout-img-width: 5rem;
  --checkout-btns-width: 1.5rem;
  --checkout-quantity-width: 5ch;

  width: 100vw;
  max-width: 420px;
  background-color: var(--slider-bk-clr);
  grid-template-rows: auto 1fr auto;

  position: fixed;
  inset: 0 0 0 auto;
  z-index: 30;
  transform: translateX(100%);
  transition: transform 0.3s;
}
