@media only screen and (max-width: 31.25rem) {
  :root {
    --primary-fs: 1.5rem;
    --secondary-fs: 1.35rem;
  }

  .header {
    // PADDING
    --header-iconbox-padding: 0.125rem 1rem;

    // FONT-SIZE
    --cart-icon-fs: 1.75rem;
    --no_of-item-fs: 1.125rem;

    &__iconbox {
      grid-template-columns: auto 1ch;
    }
  }

  .products {
    // GAP
    --item-container-gap: 1.25rem;

    // PADDING
    --item-btn-padding: 0.5rem 1.75rem;

    // FONT-SIZE
    --price-fs: 1.35rem;
    --btn-fs: 1.75rem;

    // WIDTH
    --product-img-width: 15rem;

    &__container {
      grid-template-columns: repeat(auto-fit, minmax(18.75rem, 25rem));
      justify-content: center;
    }
  }

  .slider {
    // PADDING
    --checkout-item-padding: 0.5rem 0.5rem;
  }
}
