// MODIFIER CLASSES
.body--scroll-lock {
  overflow: hidden;
}

.overlay--active {
  display: block;
}

.item__btnbox--active,
.selectqty--active {
  grid-template-rows: 1fr;
}

.slider--active {
  transform: translateX(0%);
}
