*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  display: block;
  outline: none;
  border: none;
  cursor: pointer;
  font: inherit;
  text-transform: capitalize;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

:root {
  --overlay-bk-clr: hsl(0deg 0% 0% / 85%);
  --body-bk-clr: hsl(0, 0%, 100%);
  --item-bk-clr: hsl(60, 19%, 92%);
  --addtocart-bk-clr: hsl(40, 3%, 20%);
  --header-bk-clr: hsl(0, 0%, 100%);
  --slider-bk-clr: hsl(40, 3%, 20%);
  --check-out-bk-clr: hsl(48, 89%, 48%);
  --close-bk-clr: hsl(0, 0%, 93%);
  --icon-box-bk-clr: hsla(247, 74%, 63%, 60%);

  --text-clr: hsl(100, 100%, 0%);
  --btn-text-clr: hsl(0, 0%, 100%);

  /* FONT-SIZE */
  --primary-title-fs: 2.5rem;
  --secondary-title-fs: 2rem;

  /* SLIDER */
  --slider-text-clr: hsl(0, 0%, 100%);

  --secondary-title-padding: 1.25rem 1.5rem;
  --checkout-padding: 1rem 0.5rem;
  --inc-qty-btn-padding: 0.35rem 0.75rem;
  --slider-btn-padding: 1.5rem 0rem;

  --checkout-list-gap: 1rem;
  --checkout-item-gap: 1rem;

  --slider-img-width: 4rem;

  --item-name-fs: 0.9rem;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100dvb;
  isolation: isolate;
  position: relative;

  color: var(--text-clr);
  background-color: var(--body-bk-clr);
}

/* HELPING CLASSes */
.flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.grid {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  gap: 1rem;
}
/* --------------------------- */

/* MAIN */
.main {
  /* GAP */
  --icon-box-gap: 1.25rem;
  --lists-gap: 1.75rem 1.5rem;
  --item-gap: 0.25rem;
  --item-container-gap: 1rem;
  --qty-box-gap: 0.5rem;

  /* MARGIN */

  /* PADDING */
  --header-padding: 0.75rem 1rem;
  --icon-box-padding: 0.5rem 1.5rem;
  --item-list-padding: 1.5rem 1rem 2rem 1rem;
  --item-padding: 1.5rem 1.75rem 0rem 1.75rem;
  --btn-cart-padding: 0.25rem 1.25rem;
  --choose-qty-padding-bttm: 1.5rem;
  --input-qty-padding: 0.25rem 1.25rem;

  /* FONT-SIZE */
  --cart-fs: 2rem;
  --tot-item-in-cart-fs: 1.25rem;
  --qty-btn-fs: 1.75rem;

  /* WIDTH */
  --input-qty-width: 18ch;
}

.main__container {
  width: min(62.5rem, 100vw);
  margin-inline: auto;
}

.primary--title {
  font-size: var(--primary-title-fs);
  text-transform: capitalize;
}

/* HEADER */
.header {
  position: sticky;
  inset: 0;
  z-index: 30;
  background-color: var(--header-bk-clr);

  justify-content: space-between;
  padding: var(--header-padding);
  border-bottom: 1px solid #000;
}

.icon__box {
  cursor: pointer;
  background-color: var(--icon-box-bk-clr);
  padding: var(--icon-box-padding);
  border-radius: 100px;
  gap: var(--icon-box-gap);
}

#cart {
  font-size: var(--cart-fs);
}

.tot_item-in-cart {
  font-size: var(--tot-item-in-cart-fs);
}

/* SECTION ITEMs */
.item__list {
  padding: var(--item-list-padding);
}

.lists {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: var(--lists-gap);
}

.item {
  text-align: center;
  background-color: var(--item-bk-clr);

  border-radius: 1.25rem;
  gap: var(--item-gap);
}

.item__container {
  gap: var(--item-container-gap);
  padding: var(--item-padding);
}

.img__box > img {
  filter: drop-shadow(0 50px 20px #0009);
}

.third--title {
  font-weight: 500;
}

.qty__box {
  gap: var(--qty-box-gap);
}

.btn-cart {
  background-color: var(--addtocart-bk-clr);
  color: var(--btn-text-clr);
  border-radius: 100px;
  padding: var(--btn-cart-padding);
}

.choose__qty {
  padding-bottom: var(--choose-qty-padding-bttm);
}

.qty_btn {
  font-size: var(--qty-btn-fs);
  background: none;
}

.input__qty {
  text-align: center;
  border: 2px solid #000;
  outline: none;
  border-radius: 100px;
  padding: var(--input-qty-padding);
  width: var(--input-qty-width);
}

.input__qty::-webkit-outer-spin-button,
.input__qty::-webkit-inner-spin-button {
  display: none;
}

.minus {
}

.plus {
}
/* ---------------------- */

/* OVERLAY */
.overlay {
  position: fixed;
  inset: 0;
  background-color: var(--overlay-bk-clr);
  z-index: 40;

  display: none;
}
/* ---------------------- */

/* SLIDER */
.slider {
  color: var(--slider-text-clr);
  grid-template-rows: auto 1fr auto;
  gap: 0rem;

  position: fixed;
  inset: 0 0 0 auto;
  z-index: 50;
  width: min(28.125rem, 100vw);
  background-color: var(--slider-bk-clr);
  justify-items: stretch;

  transform: translateX(100%);
  transition: transform 0.3s;
}

.secondary--title {
  text-transform: capitalize;
  font-size: var(--secondary-title-fs);
  font-weight: 500;

  padding: var(--secondary-title-padding);
  border-bottom: 1px solid #fff;
}

.checkout__lists {
  flex-direction: column;
  gap: var(--checkout-list-gap);
  padding: var(--checkout-padding);

  overflow: scroll;
}

.checkout__lists::-webkit-scrollbar {
  display: none;
}

.checkout__item {
  gap: var(--checkout-item-gap);
  width: 100%;
  justify-content: space-between;
}

.img__box-2 > img {
  width: var(--slider-img-width);
}

.item__name {
  font-size: var(--item-name-fs);
}

.total__amt {
  margin-left: auto;
}

.increase__qty > button {
  background-color: #fff;
  padding: var(--inc-qty-btn-padding);
  border-radius: 50%;
}

.total__qty {
  font-weight: 600;
}

.slider__btn_box {
  gap: 0;
}

.slider__btn_box > button {
  flex-grow: 1;
  padding: var(--slider-btn-padding);
}

.close__btn {
  background-color: var(--close-bk-clr);
  text-transform: uppercase;
}

.checkout__btn {
  text-transform: capitalize;
  background-color: var(--check-out-bk-clr);
}
/* ---------------------- */

.scroll--lock {
  overflow: hidden;
}

.overlay--active {
  display: block;
}

.slider--active {
  transform: translateX(0%);
}

/* MEDIA QUERY */
@media only screen and (max-width: 500px) {
  :root {
    --checkout-list-gap: 1.25rem;
    --checkout-item-gap: 0.55rem;

    --primary-title-fs: 1.5rem;

    --checkout-padding: 1.5rem 0.5rem;
    --slider-btn-padding: 1rem;

    --slider-img-width: 6rem;
  }

  .main {
    /* GAP */
    --item-container-gap: 1.5rem;
    --qty-box-gap: 0.55rem;

    /* FONT-SIZE */
    --cart-fs: 1.75rem;
    --qty-btn-fs: 2rem;

    /* PADDING */
    --icon-box-padding: 0.25rem 1.25rem;
    --btn-cart-padding: 0.5rem 1.75rem;
    --input-qty-padding: 0.5rem 1.5rem;
  }

  .third--title {
    font-size: 1.35rem;
  }

  .lists {
    grid-template-columns: minmax(300px, 400px);
    justify-content: center;
  }

  .price {
    font-size: 1.25rem;
  }

  .input__qty {
    font-size: 1rem;
  }
}
/* ---------------------- */
